<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">
	<!-- 加载资源配置文件 -->
	<context:property-placeholder location="classpath:conf/resources.properties" />

	<context:component-scan base-package="com.igeek.egobuy.item.controller" />
	<mvc:annotation-driven />
	<!-- 视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<!-- 配置静态资源，不要过来CSS和JS -->
	<mvc:resources location="/css/" mapping="/css/**" />
	<mvc:resources location="/js/" mapping="/js/**" />

	<!-- 引用dubbo服务 -->
	<!-- 在注册中心的应用的名称 -->
	<dubbo:application name="buy-item-web" />
	<!-- 配置注册中心的相关信息 -->
	<dubbo:registry protocol="zookeeper" address="192.168.11.211:2181" />
	<!-- 引用服务 -->
	<dubbo:reference interface="com.igeek.egobuy.service.ItemService"
		id="itemService" timeout="6000" />
</beans>
